*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  /* color: #333; */
  background: #eee;
  max-width: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
}
ul{
  list-style: none;
}

.App{
  height: 100vh;
  width: 100vw;
  /* display: grid; */
  /* grid-template-rows: auto 1fr; */
  place-items: center;
}
header{
  background: #333;
  padding: 1rem;
  color: #fff;
  width: 100%;
}
.header{
  display:grid;
  grid-auto-flow: column;
  place-items: center;
  padding: 0rem 20rem;
}
li a{
  color: #fff;
  text-decoration: none;
}
.appointmentContainer{
  /* width: 100%; */
  padding: 1rem 8rem;
  margin: 0rem 12rem;
  /* background: rgb(43, 2, 2); */
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border: solid 1px #333;
  margin-top: 2rem;
}
/* .form-group{
  width: 100%;
  display: grid;
  grid-gap: .3rem;
} */
 label{
  font-size: 1.4rem;
  color: #333;
}
 input{
  width: 100%;
  border: solid 1px #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #333;
}
 textarea{
  width: 100%;
  border: solid 1px #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #333;
}
button{
  width: 100%;
  border: solid 1px #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #333;
  background: rgb(84, 83, 83);
  cursor: pointer;
}
button:hover{
  background: #333;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.doctorsPage{
  display: grid;
  
}
.doctorsList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* place-items: center; */
  grid-gap: 1rem;
  
  padding: 4rem 4rem;
}
.doctor{
  display: grid;
  grid-auto-flow: row;
  place-items: start;
  width: 300px;
  height: 300px;
  padding: 0rem 2rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
.doctorLink{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid #333;
  cursor: pointer;
  color: black;
}
.appointmentPage{
  height: 100vh;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  
  padding: 8rem 8rem;
}
.appointmentDetails{
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid #333;
  cursor: pointer;
  color: black;
}
.doctorPage{
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid #333;
  cursor: pointer;
  color: black;
}
.setDoctor{
  width: 300px;
  border: 1px solid #333;
}
.checkAppointment{
  width: 300px;
  border: 1px solid #333;
  height: 50px;
}
